.schedule {
  padding: 2%;
}

.schedule thead th{
  background-color: rgb(187, 206, 104);
  height: 30px;
  width: 250px;
}

.schedule td{
  width: 150px;
  height: 20px;
  background-color: beige;
  text-align: center;
  padding: 3px 0px;
}

#table-top{
  background-color: rgb(211, 190, 97);
}

